@model List<CrudCore.Models.Pet_Model>
@{
    ViewData["Title"] = "Index";
}

<a href="@Url.Action("Create","Pet")" class="btn-block btn btn-primary" style="margin-bottom:15px;margin-top:15px">Add New Pet</a>
<table class="table table-striped table-hover ">
    <thead>
        <tr>
            
            <th >Pet Name</th>
            <th>Date Of birth</th>
            <th>Type</th>
            <th class="text-right">Options</th>
        </tr>
    </thead>
    <tbody>
        @foreach (CrudCore.Models.Pet_Model v in Model)
        {
        <tr>
            <td>@v.Name</td>
            <td>@v.DateOfBirth.ToString("d")</td>
            <td>@v.Type</td>
            <td class="text-right">
                <a href="@Url.Action("Update","Pet",new { Id=@v.Id})" class="btn-primary btn btn-xs">Update</a>
                <a href="@Url.Action("Delete","Pet",new { Id=@v.Id})" class="btn btn-danger btn-xs">Delete</a>
            </td>
        </tr>
        }
    </tbody>
</table>
